/node_modules/
/.idea/
/.vscode/
package-lock.json
yarn.lock
/dist/


# website git忽略项
/public/static/data/
/public/static/data/deckgl/
/public/static/data/echarts/gps/
/public/static/data/echarts/line/
/public/static/data/echarts/point/
/public/static/data/echarts/road/
/public/static/libs/cdn/zondyclient/
/public/static/libs/cdn/leaflet/
/public/static/libs/cdn/mapboxgl/
